button:focus {
  outline: none;
}
.scroll-button {
  background: none;
  border: none;
  bottom: 10%;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  cursor: pointer;
}
.scroll-button-up {
  background: none;
  border: none;
  top: 5%;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  cursor: pointer;
  img {
    transform: rotateX(180deg);
  }
}
.scroll-text {
  font-family: $Ashbury;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
.button--link {
  background-color: transparent;
  border: 1px solid #bfd7ea;
  color: $white;
  font-family: 'Gill Sans', 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 40px;
  line-height: 18px;
  transition: 0.25s;
  width: 220px;
  cursor: pointer;
}
.button--link:hover {
  background-color: $white;
  border: 1px solid #0b3954;
  color: #0b3954;
}
.button--link a {
  align-items: center;
  color: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
}
.button--link:hover a {
  color: #0b3954;
}
.button--parts {
  background-color: transparent;
  border: 1px solid #bfd7ea;
  color: $white;
  font-family: $Metropolis;
  font-size: 18px;
  font-weight: 200;
  height: 40px;
  line-height: 22px;
  padding: 0 20px;
  text-transform: uppercase;
  transition: 0.25s;
}
.button--parts:hover {
  background-color: $white;
  border: none;
  color: #0b3954;
}
.button--parts.active {
  background-color: #fad150;
  border: none;
  color: #0b3954;
}
.button--parts-panel {
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: $Metropolis;
  font-size: 18px;
  font-weight: 200;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 10;
  &:hover {
    color: $link-yellow;
  }
  &.active {
    color: $link-yellow;
  }
}
#BarrelButton {
  right: 0;
  top: 0;
}
#FrameButton {
  right: 5%;
  bottom: 0;
}
#SlideButton {
  left: 0;
}
@media (max-width: 991.99px) {
  .button--parts {
    width: 100%;
    border-left: none;
    border-right: none;
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 0;
  }
  // .scroll-button-up {
  //   top: unset;
  //   bottom: 15%;
  // }
  .scroll-button {
    left: unset;
    bottom: 10%;
    right: 4%;
  }
  .scroll-button-up {
    top: unset;
    left: unset;
    bottom: 15%;
    right: 4%;
  }
  .scroll-text {
    display: none;
  }
}
@media (max-width: 576px) {
  .scroll-button {
    left: unset;
    bottom: 4%;
    right: -1%;
  }
  .scroll-button-up {
    top: unset;
    left: unset;
    bottom: 15%;
    right: -1%;
  }
}
