#capPageCarousel {
  position: relative;
  height: 332px;
}
#capPageCarousel > div {
  background: white;
  display: inline-block;
  height: auto;
  max-height: 333px;
  overflow: hidden;
  // position: relative;
  transition: all 0.3s ease-in-out;
  width: 500px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.parts-gallery-image {
  height: 333px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#capPageCarousel > div > div > img {
  height: -webkit-fill-available;
  height: -moz-available;
  width: auto;
}
#capPageCarousel .magnify {
  transform: scale(2);
  max-width: 50%;

  // width: 1000px;
  // height: auto;
  // max-width: 100%;
  // transform: translateY(-25%)

  // position: fixed;
  // height: 100%;
  // width: 100%;
  // top: 0;
  // background: none;
  // transition-duration: 0s
}
.parts-gallery-image > .modal-controller {
  width: 25px;
  height: 25px !important;
  background-image: url('https://lws.impactpreview.com/wp-content/uploads/2018/08/Expand-Arrows.svg');
}
.click-shield {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000000;
}
.items {
  position: absolute;
}
.front {
  z-index: 3000;
}
.back {
  margin-left: 2em !important;
  opacity: 0.05;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
.left {
  opacity: 0.3;
  margin-left: -20% !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}
.right {
  opacity: 0.3;
  margin-left: 20% !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}
// Home panel carousel
#capPageHomeCarousel .carousel {
  position: relative;
  height: 32vh;
}
.cap-carousel-img {
  height: 30vh;
  width: auto;
}
@media (max-width: 991px) {
  #capPageHomeCarousel .carousel {
    position: relative;
    height: 16vh;
  }
  .cap-carousel-img {
    height: 28vw;
  }
}
@media (max-width: 576px) {
  #capPageCarousel {
    height: 150px;
    div {
      height: 150px;
    }
  }
  #capPageHomeCarousel {
    .carousel-indicators {
      bottom: -35px;
    }
  }
}
@media (max-width: 320px) {
  #capPageHomeCarousel {
    .carousel-indicators {
      bottom: -20px;
    }
  }
}
