#capPageCarousel {
  position: relative;
  height: 332px;
}
#capPageCarousel > div {
  width: 500px;
  // height: 281px;
  height: auto;
  max-height: 333px;
  background: #333;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
#capPageCarousel > div > img {
  height: 100%;
  width: 100%;
}
// #capPageCarousel > div.front:hover {
//   transform: scale(1.05);
// }
#capPageCarousel .magnify {
  transform: scale(2);
  max-width: 50%

  // width: 1000px;
  // height: auto;
  // max-width: 100%;
  // transform: translateY(-25%)

  // position: fixed;
  // height: 100%;
  // width: 100%;
  // top: 0;
  // background: none;
  // transition-duration: 0s
}
.parts-gallery-image + .modal-controller {
  width: 25px;
  height: 25px !important;
  background-image: url("https://lws.impactpreview.com/wp-content/uploads/2018/08/Expand-Arrows.svg")
}
// @media screen and (min-width: 992px) and (max-width: 1420px) {
//   .parts-gallery-image + .modal-controller {display: none}
// }
.click-shield {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000000;
}
.items {
  position: absolute;
}
.front {
  z-index: 3000;
}
.back {
  margin-left: 2em !important;
  opacity: 0.05;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
.left {
  opacity: 0.3;
  margin-left: -20% !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}
.right {
  opacity: 0.3;
  margin-left: 20% !important;
  z-index: 1000;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}
// Home panel carousel
#capPageHomeCarousel .carousel {
  position: relative;
  height: 32vh
}
.cap-carousel-img {
  height: 30vh;
  width: auto;
}
@media (max-width: 576px) {
  #capPageCarousel {
    height: 150px;
    div {
      height: 150px;
    }
  }
}
