.career-col-heading {
  color: #fad150;
  font-family: $Metropolis;
  font-size: 1.4vmax;
  font-weight: 200;
  line-height: 2vmax;
  margin-bottom: 0;
}
.career-email-span a {
  color: #fad150;
  text-decoration: none;
}
.career-email-span a:hover {
  text-decoration: none;
  color: #fad150;
}
.careers-main-link {
  color: #fefffe;
  font-family: $Ashbury;
  font-size: 1.4vmax;
  font-weight: 300;
  line-height: 2vmax;
  text-decoration: underline;
}
.careers-main-link:hover {
  color: #fefffe;
}
.career-col-text {
  color: #ffffff;
  font-family: $Ashbury;
  font-size: 1vmax;
  font-weight: 300;
  line-height: 1.3vmax;
}
img.careers-hero {
  max-width: 100%;
  max-height: 20vh;
  height: auto;
}
.careers-link {
  text-decoration: underline;
  color: $white;
}
.careers-link:hover {
  text-decoration: underline;
  color: $link-yellow;
}
#careersTitle {
  margin: 0;
}
.people-link-image {
  width: auto;
  height: 4vmax;
}
@media (max-width: 576px) {
  #careersPage {
    .panel {
      overflow: scroll;
    }
  }
  #careersPage > .panel > .row.no-gutters.justify-content-center.w-100.align-items-center > .page-content {
    margin-top: 80%;
  }
  .career-col-heading {
    font-size: 2.75vmax;
    font-weight: 200;
    line-height: 3vmax;
    margin-bottom: 0;
  }
  .career-col-text {
    font-size: 1.75vmax;
    font-weight: 300;
    line-height: 2vmax;
    margin-bottom: 0.5rem;
  }
  .listing-text {
    font-size: 2.75vmax;
    font-weight: 300;
    line-height: 3vmax;
    margin-bottom: 0;
  }
}
