.about-ul {
  li {
    color: $white;
    font-family: $Ashbury;
    font-size: 1.25vmax;
    font-weight: 300;
    line-height: 1.5vmax;
  }
}
.capabilities-listing-header {
  color: #fad150;
  font-family: $Metropolis;
  font-size: 36px;
  font-weight: 200;
  line-height: 40px;
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.74), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.capabilities-list {
  padding-left: 20px;
  margin-bottom: 0;
  li {
    color: $white;
    font-family: $Ashbury;
    font-size: 1.25vmax;
    font-weight: 300;
    line-height: 1.7vmax;
  }
}
.part-callouts {
  padding-left: 25px;
  li {
    color: $white;
    font-family: $Ashbury;
    font-size: 1vmax;
    font-weight: 300;
    line-height: 1.7vmax;
  }
}
@media (max-width: 576px) {
  .capabilities-listing-header {
    font-size: 18px;
    line-height: 20px;
  }
  .capabilities-list li {
    color: #fefffe;
    font-family: 'Ashbury';
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
  }
  .about-ul {
    padding-left: 5px;
    // list-style-position: inside;
    li {
      color: $white;
      font-family: $Ashbury;
      font-size: 2vmax;
      font-weight: 300;
      line-height: 2.5vmax;
    }
  }
}
