@media (max-width: 992px) {
  #mobileHandgunCarousel,
  #mobileRifleCarousel {
    height: 45vh;
    .carousel.slide {
      margin: 5%;
      .carousel-inner {
        overflow: visible;
      }
      .carousel-indicators {
        bottom: 50px;
      }
    }
  }
  #mobileRifleCarousel {
    height: 40vh;
    .carousel.slide {
      margin: 5%;
      .carousel-inner {
        overflow: visible;
      }
      .carousel-indicators {
        bottom: 40px;
      }
    }
  }
  .handgun {
    height: 22vh !important;
  }
  .rifle {
    height: 22vh !important;
    transform: rotateY(-10deg);
    width: 80vw !important;
  }
  .parts-hint {
    font-family: $Metropolis;
    font-size: 10px;
    line-height: 25px;
    margin: 0;
  }
}
@media (max-width: 576px) {
  #mobileHandgunCarousel,
  #mobileRifleCarousel {
    height: 55vh;
    .carousel.slide {
      margin: 5%;
      .carousel-inner {
        overflow: visible;
      }
      .carousel-indicators {
        bottom: -40px;
      }
    }
  }
}
// Mobile Part Carousel
#mobilePartsCar.carousel-caption {
  bottom: -100%;
  display: block !important;
  display: block !important;
  height: 100px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  h3 {
    color: $link-yellow;
    font-family: $Metropolis;
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    margin: 0;
    text-transform: uppercase;
  }
  p {
    font-family: $Metropolis;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }
}

.active.carousel-item-left {
  transform: translateX(calc(-100% - 120px))
}
.active.carousel-item-right {
  transform: translateX(calc(100% + 120px)) !important
}