@media (max-width: 576px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  nav a, .nav-link {
    color: $white !important;
    font-family: $Metropolis;
    font-size: 24px !important;
    font-weight: 600;
    line-height: 54px !important;
    text-align: center;
    text-transform: uppercase;
  }
  .navbar-toggler {
    border: none;
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: 10px;
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    z-index: 999;
  }
  .collapsing {
    background-color: $background-color;
    background-size: 200vw;
    display: flex !important;
    height: 110% !important;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: none !important;
  }
  .collapse:not(.show).navbar-collapse {
    background-color: $background-color;
    height: 110%;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .collapse.show.navbar-collapse {
    background-color: $background-color;
    background-size: 200vw;
    display: flex !important;
    height: 110%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 900;
    > #windstopNav {
      > img {
        height: 225vw !important;
      }
    }
  }
}
@media (max-width: 992px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  nav a, nav .nav-link {
    color: $white !important;
    font-family: $Metropolis;
    font-size: 36px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer
  }
  .navbar-toggler {
    border: none;
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: 10px;
    position: absolute;
    top: 45px;
    right: 25px;
    z-index: 999;
  }
  .navbar-toggler-icon {
    display: none;
  }
  .collapsing {
    background-color: $background-color;
    background-size: 200vw;
    display: flex !important;
    height: 110% !important;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: none !important;
  }
  .collapse:not(.show).navbar-collapse {
    background-color: $background-color;
    height: 110%;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .collapse.show.navbar-collapse {
    background-color: $background-color;
    background-size: 200vw;
    display: flex !important;
    height: 110%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 900;
    > #windstopNav {
      > img {
        height: 225vw !important;
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar {
    position: absolute;
    top: 50%;
    right: 2.25%;
    transform: translateY(-50%);
    z-index: 999;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  nav a, nav .nav-link {
    color: $white !important;
    font-family: 'Gill Sans', 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 77px;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer
  }
  nav a:hover, nav .nav-link:hover {
    color: $link-yellow !important;
  }
  .is-active {
    color: $link-yellow !important;
  }
  .is-active::before {
    content: url('https://lws.impactpreview.com/wp-content/uploads/2018/06/scope-hovericon.svg');
    margin-right: 15px;
    position: relative;
    top: 7px;
  }
  #careersLink.is-active::before {
    content: none;
  }
  #windStopNav {
    display: none !important;
  }
}
.navbar-light .navbar-toggler-icon {
  background-image: none;
  display: none;
}
.navbar-brand {
  margin: 0;
}
