.callout-image {
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.callout-image .img-holder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px)
}
.callout-image .img-holder img {
  max-width: calc(100vw - 30px)
}

.callout-image .gallery-holder {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%)
}

.modal-controller {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url("https://lws.impactpreview.com/wp-content/uploads/2018/08/blue-x-out.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer
}

.gallery-holder > .modal-controller {
  top: 0;
  right: calc(50% - 250px * .75 - 83.333% * .2)
}
@media screen and (max-width: 991px) {
  .gallery-holder > .modal-controller {
    right: 10px
  }
}

.modal-controller.smaller {
  width: 25px;
  height: 25px
}

.translucent {
  opacity: .95
}


.mega-player {
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.mega-player .vid-holder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px)
}
.modal-controller.yellow {
  background-image: url("https://lws.impactpreview.com/wp-content/uploads/2018/08/yellow-x-out.svg")
}
.mega-player .vid-holder video {
  max-width: calc(100vw - 30px)
}
@media screen and (min-width: 768px) {
  .mega-player .vid-holder video {
    width: 720px
  }
}
@media screen and (min-width: 992px) {
  .mega-player .vid-holder video {
    width: 800px
  }
}