@media (min-width: 1200px) {
  .panel-text {
    font-size: 16px !important;
  }
}
.panel-text {
  color: $white;
  font-family: $Ashbury;
  font-size: 1.25vmax;
  font-weight: 300;
  line-height: 1.55vmax;
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 991px) {
  .panel-text {
    font-size: 2.5vmax;
    line-height: 2.9vmax;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
  }
  #careersText {
    font-size: 2.25vmax;
  }
}
#careersText {
  margin-bottom: .75rem;
}