.panel-contact {
  color: #fefffe;
  font-family: Metropolis;
  font-size: 20px;
  font-weight: 200;
  line-height: 22px;
  text-align: center;
}
.contact-pipe {
  font-size: 0.95vmax;
  font-weight: 200;
  line-height: 22px;
}
@media (max-width: 991px) {
  .panel-contact {
    font-size: 18px; 
    width: 100%;
    margin-bottom: 20px;
    .phone {
      font-size: 18px;
    }
  }
}