div#SlideDiv {
  left: 0;
  top: 5%;
}
div#FrameDiv {
  bottom: 10%;
  right: 20%;
}
div#BarrelDiv {
  top: 0;
  right: -10%;
}
div#ButtStockAssemblyDiv {
  left: -10%;
}
div#FrontSightDiv {
  right: -5%;
  top: 15%;
}
div#UpperReceiverDiv {
  right: 25%;
  top: -7%;
}
div#LowerReceiverDiv {
  left: 5%;
  bottom: 0;
}
div#BoltCarrierGroupDiv {
  bottom: -45%;
  right: 14%;
}
.parts-panel {
  height: 35vh;
}
.parts-image.invisible {
  height: 45vh;
}
.handgun {
  height: 40vh;
}
.rifle-image-wrapper {
  height: 35vh;
}
.rifle {
  height: 25vh;
  align-self: center;
}
@media (min-width: 992px) {
  #partsPanelButtonRow {
    max-width: 725px;
  }
}
#handgunPartShowcase {
  max-width: 1200px;
}
@media (max-width: 576px) {
  
}

.interactive-callout {
  text-decoration: underline;
  cursor: pointer
}
@media screen and (max-width: 991px) {
  .no-mobile-gutters > * {
    padding-left: 0;
    padding-right: 0
  }
}