div#SlideDiv {
  left: calc(((100% - 700px) * .4) - 48px); // 100% is ~700px at 992px, 1000px at >1500px (trust me, it works)
  top: 5%;
}
div#FrameDiv {
  bottom: 10%;
  right: 20%;
}
div#BarrelDiv {
  top: 0;
  right: -6%;
}
@media screen and (max-width: 1199px) {
  div#BarrelDiv {
    right: -64px
  }
}
div#ButtStockAssemblyDiv {
  left: calc(((100% - 700px) * .2) - 48px);
  top: 1%
}
#Butt_Stock_AssemblyButton {
  white-space: nowrap;
}
div#FrontSightDiv {
  right: 4%;
  top: 15%;
}
div#UpperReceiverDiv {
  right: 25%;
  top: -6%;
}
div#LowerReceiverDiv {
  left: 10%;
  bottom: -5%;
}
div#BoltCarrierGroupDiv {
  bottom: -45%;
  right: 14%;
}
.parts-panel {
  height: 35vh;
}
.parts-image.invisible {
  height: 45vh;
}
.handgun {
  height: 40vh;
}
.rifle-image-wrapper {
  height: 35vh;
}
.rifle {
  height: 25vh;
  align-self: center;
}
@media (min-width: 992px) {
  #partsPanelButtonRow {
    max-width: 725px;
  }
}
#handgunPartShowcase {
  max-width: 1200px;
}
#riflePartsShowcase {
    max-width: 1550px;
}
@media (max-width: 576px) {
  
}

.interactive-callout {
  text-decoration: underline;
  cursor: pointer
}
@media screen and (max-width: 991px) {
  .no-mobile-gutters > * {
    padding-left: 0;
    padding-right: 0
  }
}