.embed-responsive .value-vid {
  height: 28vmax;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}
@media screen and (max-width: 991px) {
  .embed-responsive-21by9::before {
    padding-top: 50%;
  }
  .embed-responsive .value-vid {
    height: 32vmax;
  }
}
@media screen and (max-width: 576px) {
  .embed-responsive .value-vid {
    height: 28vmax;
  }
}
// gotta make the title look good
#lw-break {
  margin-left: auto;
  margin-right: auto
}
@media screen and (min-width: 713px) {
  #lw-break {
    width: 70%
  }
}
@media screen and (min-width: 624px) and (max-width: 712px) {
  #lw-break {
    width: 80%
  }
}
@media screen and (min-width: 570px) and (max-width: 623px) {
  #lw-break {
    width: 90%
  }
}
@media screen and (min-width: 420px) and (max-width: 512px) {
  #lw-break {
    width: 67%
  }
}
@media screen and (min-width: 380px) and (max-width: 419px) {
  #lw-break {
    width: 75%
  }
}
@media screen and (min-width: 348px) and (max-width: 379px) {
  #lw-break {
    width: 82%
  }
}

// video on homepage
.mega-video.active video, .mega-video.active .mega-video-controller {
  display: block
}
.mega-video video {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
}
.mega-video-controller {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url("http://lws.impactpreview.com/wp-content/uploads/2018/07/closemenu.svg");
  background-repeat: no-repeat;
  cursor: pointer
}